{
    "$schema": "vendor/infection/infection/resources/schema.json",
    "source": {
        "directories": [
            "app",
        ],
        "excludes": [
            "Providers"
        ]
    },
    "timeout": 60,
    "logs": {
        "text": ".cache/reports/infection/infection.diff",
        "summary": ".cache/reports/infection/infection.summary.txt",
        "html": ".cache/reports/infection/infection.html"
    },
    "tmpDir": ".cache/infection",
    "mutators": {
        "@default": {
            "ignore": [
                "App\\Models\\*::boot",
                "App\\Models\\*::getConnectionName",
                "App\\Models\\*::scope*"
            ]
        },
        "@arithmetic": true,
        "@boolean": true,
        "@cast": true,
        "@conditional_boundary": true,
        "@conditional_negotiation": true,
        "@equal": true,
        "@function_signature": true,
        "@identical": false,
        "@number": true,
        "@operator": true,
        "@regex": true,
        "@removal": true,
        "@return_value": true,
        "@sort": true,
        "@unwrap": true,
        "@zero_iteration": true,
        "@extensions": false
    }
}
